:root{
    --background-color: #202124;
    --footer-bg-color: #171717;
    --search-hover-bg-color: #333339;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    padding: 0.7rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.nav-links{
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
}
.nav-links:hover{
    text-decoration: underline;
}
.apps-menu{
    width: 1.18rem;
    height: 1.18rem;
}
.apps-menu:hover{
    cursor: pointer;
}
#sign-in-btn{
    color: #001d35;
    background-color: #C2E7FF;
    font-size: 1rem;
    font-weight: 400;
    padding: 8px 20px 12px;
    border-radius: 25px;
    cursor: pointer;
}
.hero-section{
    width: 100%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 19vh;
}
.search-container{
    width: 40%;
    height: 2.45rem;
    padding: 25px 18px;
    background-color: var(--background-color);
    border: 1px solid #66696d;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.search-container:hover{
    border: 1px solid transparent;
    background-color: var(--search-hover-bg-color);
    box-shadow: rgba(32, 29, 29, 0.688) 0px 2px 8px 0px;
}
.search-container:hover #search-input{
    background-color: var(--search-hover-bg-color);
}
.search-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}
.search-icons{
    height: 1.22rem;
    cursor: pointer;
    z-index: 1;
}
i{
    color: #888E93;
    z-index: 1;
}
#search-input{
    background-color: inherit;
    width: 80%;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--background-color);
    color: #ffffff;
    z-index: 1;
    padding-left: 1rem;
    margin-right: 1.5rem;
}
.clear-btn-container{
    height: 2rem;
    width: 1rem;
    border-right: 0.8px solid #66696d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    display: none;
}
#clear-btn{
    font-size: 1.3rem;
}
.hero-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.hero-buttons{
    background-color: #303134;
    border: 0.5px solid transparent;
    color: #ffffff;
    padding: 9px 16px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}
.hero-buttons:hover{
    border: 0.5px solid #66696d;
}
.languages-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.languages-container-text{
    display: inline;
    color: #949497;
    font-weight: 400;
    font-size: 0.95rem;
}
.language-link{
    color: #83b4fd;
    font-size: 0.85rem;
}
.language-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
#footer-container{
    width: 100%;
    height: 17.5%;
    background-color: var(--footer-bg-color);
    justify-self: flex-end;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.footer-section-1{
    height: 50%;
    width: 100%;
    border-bottom: 2.5px solid var(--background-color);
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.footer-section-2{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 33px;
}
.footer-links{
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}
.footer-links:hover{
    text-decoration: underline;
}
.footer-links-section-1{
    display: flex;
    gap: 1.8rem;
}
.footer-links-section-2{
    display: flex;
    gap: 1.8rem;
}